In [18]:
filepath = '/Users/jwoh/Desktop/pythonScrolling/DataSciencePython/02_개정판/8_BaskinRobbins_Location/files/seoul_baskin_list2.xlsx'

# 6.2 데이터 전처리
## 6.2.1 서울시 스타벅스 매장 목록, 인구, 사업체 데이터에 시군구명, 시군구코드 추가

In [19]:
# 예제 6-39  서울시 스타벅스 매장 목록이 담긴 엑셀 파일 불러오기
import pandas as pd
seoul_starbucks = pd.read_excel(filepath , header=0)
seoul_starbucks.tail()

,매장명,영업시간,주소,리뷰 갯수,별점,전화번호,위도,경도
298,배스킨라빈스 은평뉴타운,매일 10:00 ~ 23:00,서울 은평구 진관4로 17,리뷰 0,5.0,02-3157-0031,37.643646,126.922900
299,배스킨라빈스 중계롯데마트점,NaN,서울 노원구 노원로 330 롯데마트 중계점 지하1층,리뷰 0,0.0,02-932-3132,37.646791,127.070941
300,배스킨라빈스 명일이마트점,매일 10:00 ~ 23:00,서울 강동구 고덕로 276 이마트 4층,리뷰 0,1.0,02-427-0310,37.554707,127.155613
301,배스킨라빈스 신도림점,금 10:00 ~ 24:00,서울 구로구 경인로 611-7 큐브스테이트 1층,리뷰 0,0.0,070-7005-3131,37.506416,126.883812
302,베스킨라빈스 아현뉴타운점,NaN,서울 마포구 마포대로 195,리뷰 0,0.0,02-313-7877,37.552430,126.954305

In [20]:
# 예제 6-40 스타벅스 주소 정보에서 시군구명 추출
sgg_names = []
for address in seoul_starbucks['주소']:
    sgg = address.split()[1]
    sgg_names.append(sgg)
seoul_starbucks['시군구명'] = sgg_names
seoul_starbucks.head()

,매장명,영업시간,주소,리뷰 갯수,별점,전화번호,위도,경도,시군구명
0,배스킨라빈스 BROWN청담점,매일 08:00 ~ 23:00,서울 강남구 도산대로 327 SGF청담타워 3층,리뷰 256,4.2,02-547-1205,37.523120,127.037599,강남구
1,배스킨라빈스 종로2가점,매일 10:00 ~ 23:00,서울 종로구 종로12길 9,리뷰 15,3.3,02-733-3130,37.569632,126.985908,종로구
2,배스킨라빈스 세로수길점,매일 10:00 ~ 23:00,서울 강남구 도산대로11길 15 1층,리뷰 31,5.0,02-542-8613,37.518405,127.022378,강남구
3,배스킨라빈스 강남중앙점,매일 10:00 ~ 23:00,서울 강남구 강남대로96길 9 1층,리뷰 37,2.0,02-563-8588,37.499858,127.027736,강남구
4,배스킨라빈스 홍대상상마당점,매일 10:00 ~ 24:00,서울 마포구 어울마당로 61,리뷰 14,3.4,02-324-1222,37.550510,126.921004,마포구

In [21]:
# 예제 6-41 엑셀로 저장
seoul_starbucks.to_excel(filepath, index=False)