## 구글드라이브 마운트

In [42]:
inpath = '/Users/jwoh/Desktop/pythonScrolling/DataSciencePython/02_개정판/8_BaskinRobbins_Location/files/seoul_baskin_list.xlsx'
outpath = '/Users/jwoh/Desktop/pythonScrolling/DataSciencePython/02_개정판/8_BaskinRobbins_Location/files/seoul_baskin_list2.xlsx'

## 카카오 인코더 주소->좌표

In [2]:
pip install requests

Requirement already satisfied: requests in /Users/jwoh/opt/miniconda3/envs/opencv/lib/python3.7/site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/jwoh/opt/miniconda3/envs/opencv/lib/python3.7/site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jwoh/opt/miniconda3/envs/opencv/lib/python3.7/site-packages (from requests) (2021.5.30)
Requirement already satisfied: idna<4,>=2.5 in /Users/jwoh/opt/miniconda3/envs/opencv/lib/python3.7/site-packages (from requests) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jwoh/opt/miniconda3/envs/opencv/lib/python3.7/site-packages (from requests) (1.26.6)
Note: you may need to restart the kernel to use updated packages.

In [43]:
import requests
import json
import pandas as pd

병합할 엑셀파일 읽어오기

In [44]:
# 잘 읽어왔는지 체크
df = pd.read_excel(inpath)

In [45]:
# 특정 열(칼럼) 읽어와보기
df_sample = df.iloc[:,[2]]
df_sample

                               주소
0      서울 강남구 도산대로 327 SGF청담타워 3층
1                  서울 종로구 종로12길 9
2            서울 강남구 도산대로11길 15 1층
3             서울 강남구 강남대로96길 9 1층
4                 서울 마포구 어울마당로 61
..                            ...
298                서울 은평구 진관4로 17
299  서울 노원구 노원로 330 롯데마트 중계점 지하1층
300         서울 강동구 고덕로 276 이마트 4층
301    서울 구로구 경인로 611-7 큐브스테이트 1층
302               서울 마포구 마포대로 195

[303 rows x 1 columns]

In [46]:
# 주소 전달
print(df.iloc[0]['주소'])

서울 강남구 도산대로 327 SGF청담타워 3층

In [47]:
len(df_sample)

303

카카오 api

In [48]:
# 카카오 내 키 
headers = {"Authorization": "KakaoAK APIKEY"}

In [49]:
# 좌표값 저장할 리스트 생성
lat = []
lng = []
count = 0

for idx in range(0,len(df_sample)):
  address = df.iloc[idx]['주소']
  url = "https://dapi.kakao.com/v2/local/search/address.json?&query=" + address

  api_test = requests.get(url,headers=headers)
  url_text = json.loads(api_test.text)

  count += 1
  print(count)
  lat.append (url_text.get('documents')[0].get('y'))
  lng.append (url_text.get('documents')[0].get('x'))

lat, lng

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303

(['37.5231196123278',
  '37.5696321635786',
  '37.5184054651671',
  '37.4998575972382',
  '37.5505102197235',
  '37.5018444583427',
  '37.4926256682761',
  '37.5074148998516',
  '37.4988080886838',
  '37.5053981514355',
  '37.5790128286847',
  '37.4821433213839',
  '37.5583393311308',
  '37.5248722572746',
  '37.5611900860939',
  '37.5121862915699',
  '37.5350131175021',
  '37.5818580903219',
  '37.5394605690456',
  '37.5193436883433',
  '37.5488926252306',
  '37.6189130295893',
  '37.5413520301866',
  '37.563704895572',
  '37.5583362186341',
  '37.5123672407678',
  '37.4844882862976',
  '37.5777354833302',
  '37.4753354692121',
  '37.502787381916',
  '37.5273698491847',
  '37.6139751168542',
  '37.4706772320431',
  '37.5776672075953',
  '37.5577371998067',
  '37.5594710027215',
  '37.6100119852914',
  '37.5927615964234',
  '37.5527457643215',
  '37.4771943991724',
  '37.4756196441839',
  '37.4778412533678',
  '37.5007996814053',
  '37.5128549427149',
  '37.5770357156895',
  '37.5412945871929',
  '37.513769877018',
  '37.5331965058026',
  '37.5769157929272',
  '37.6371277340534',
  '37.4796070667241',
  '37.4796683841344',
  '37.5613720620469',
  '37.5990826021159',
  '37.6000848259053',
  '37.5542466570063',
  '37.6274300879998',
  '37.5249700318131',
  '37.5455816047743',
  '37.5055712636346',
  '37.4803950461226',
  '37.5349350800223',
  '37.5273834294204',
  '37.5600604827223',
  '37.5924914480284',
  '37.5094677109657',
  '37.482082523984',
  '37.4951488946526',
  '37.4784327948285',
  '37.507432582948',
  '37.5476854260016',
  '37.6563543249568',
  '37.4948527624475',
  '37.5113721649145',
  '37.5740562569508',
  '37.5384039171409',
  '37.490015768933',
  '37.5483553635054',
  '37.4823329404858',
  '37.4999605059187',
  '37.5782043803412',
  '37.5445686761492',
  '37.5491613766197',
  '37.5396272338793',
  '37.4913269445538',
  '37.5882093702744',
  '37.5766590358858',
  '37.5709673067938',
  '37.4853709286826',
  '37.611948526415',
  '37.5869721444379',
  '37.5064357442307',
  '37.4874564248731',
  '37.5569763720665',
  '37.5850504548114',
  '37.5216420753214',
  '37.4864413673155',
  '37.5396648171979',
  '37.5373607499164',
  '37.5420529455033',
  '37.4910212615802',
  '37.5639638267276',
  '37.6398759609875',
  '37.5671545853414',
  '37.5586416507778',
  '37.5671170824829',
  '37.5370799042659',
  '37.5569179757465',
  '37.5049819420382',
  '37.6034678685904',
  '37.4960741124988',
  '37.495860314768',
  '37.5649092537829',
  '37.5028743435851',
  '37.5668021171335',
  '37.5017181130638',
  '37.4842424493185',
  '37.4990973528659',
  '37.5316739941721',
  '37.615633662446',
  '37.4978602479977',
  '37.5756385323789',
  '37.5547800420518',
  '37.5198097653579',
  '37.5614417528647',
  '37.5293619403073',
  '37.5345461174952',
  '37.5488727643728',
  '37.4609911113644',
  '37.5661674124781',
  '37.4845144059367',
  '37.4967362789443',
  '37.5480070097242',
  '37.5004507557721',
  '37.4902379938396',
  '37.4869475868281',
  '37.640547247175',
  '37.5343039923272',
  '37.5172332566615',
  '37.4753775851032',
  '37.6436459287603',
  '37.5198467815801',
  '37.550474392299',
  '37.60554852465',
  '37.5352477607977',
  '37.6114698165443',
  '37.4995927223337',
  '37.6260034485027',
  '37.5238720181426',
  '37.5411498286848',
  '37.5888498565602',
  '37.5967724449333',
  '37.595666216311',
  '37.4985482538591',
  '37.6520591916627',
  '37.5718292143689',
  '37.6103267369331',
  '37.5578317772318',
  '37.5098570948466',
  '37.5646936735562',
  '37.5003805106905',
  '37.6208254563305',
  '37.5960451496247',
  '37.5511857834316',
  '37.5939956436071',
  '37.6111030540738',
  '37.4911916235976',
  '37.5215145278134',
  '37.6050492482263',
  '37.4695794375236',
  '37.4859727327486',
  '37.5190291185881',
  '37.6587118738827',
  '37.6376121119885',
  '37.5547278494914',
  '37.6598085040664',
  '37.5186961063921',
  '37.6662934478885',
  '37.5808634963015',
  '37.5505765598689',
  '37.5113096112036',
  '37.4958807082444',
  '37.5329312320335',
  '37.4930708184608',
  '37.5117305528664',
  '37.5498849819149',
  '37.6656742727167',
  '37.4736870745024',
  '37.5610066226343',
  '37.518520486098',
  '37.5027751388756',
  '37.4541241562291',
  '37.483168853156',
  '37.483272361489',
  '37.6201521598856',
  '37.5086202759588',
  '37.5267222236995',
  '37.5090492151745',
  '37.5573671931016',
  '37.5998081666818',
  '37.5850562707991',
  '37.4838513393186',
  '37.4892876809567',
  '37.5532272483636',
  '37.6231703348545',
  '37.5109015812503',
  '37.5523039456894',
  '37.6345810836728',
  '37.5385582736952',
  '37.5339952987106',
  '37.5383893084634',
  '37.5955083392501',
  '37.4945222528654',
  '37.5674482048077',
  '37.6410822364397',
  '37.6773680684978',
  '37.5297718014452',
  '37.5015678689641',
  '37.6081729059815',
  '37.4908450109926',
  '37.4824821410078',
  '37.6017417778971',
  '37.479763405519',
  '37.5350450191098',
  '37.6492607976891',
  '37.5150507442326',
  '37.5362743708291',
  '37.5517309629424',
  '37.6534171446527',
  '37.5505858004812',
  '37.6473861862855',
  '37.6647154157462',
  '37.5990017774988',
  '37.5527505555431',
  '37.5113096112036',
  '37.5345568374059',
  '37.4873191631489',
  '37.588655215938',
  '37.4645381767935',
  '37.5421871790215',
  '37.5804523853297',
  '37.4899957438661',
  '37.5464419324816',
  '37.606177671919',
  '37.6011742212805',
  '37.6025843548546',
  '37.648494374797',
  '37.4840043478689',
  '37.6516375000425',
  '37.6123842054697',
  '37.5649623335076',
  '37.5091916919873',
  '37.4773272277866',
  '37.5162517087896',
  '37.5130575238891',
  '37.5781901549032',
  '37.6675748183499',
  '37.574781936868',
  '37.4346173438026',
  '37.5087557940897',
  '37.4504384053012',
  '37.5469919938468',
  '37.5816970350637',
  '37.5374033615866',
  '37.5584699599397',
  '37.5589862229867',
  '37.6544548276974',
  '37.4686638539154',
  '37.5708105464699',
  '37.5682884450841',
  '37.4917620371568',
  '37.4668056237992',
  '37.5796242995394',
  '37.5260837006075',
  '37.6375366740938',
  '37.5745483247197',
  '37.549118478341',
  '37.5642640468035',
  '37.5070438414784',
  '37.5297718014452',
  '37.4843992290119',
  '37.4981646510326',
  '37.6158126968346',
  '37.596467652374',
  '37.558194814626',
  '37.4786173172251',
  '37.5811863912514',
  '37.5841961381161',
  '37.4839347328908',
  '37.5182396969791',
  '37.5399292282845',
  '37.6265093604229',
  '37.6398580838556',
  '37.5385789820645',
  '37.4519047763825',
  '37.5011601442131',
  '37.5064357442307',
  '37.6018277386458',
  '37.6436459287603',
  '37.6467905319279',
  '37.5547067235109',
  '37.5064160124939',
  '37.5524303507163'],
 ['127.037598626747',
  '126.985908263935',
  '127.022378126653',
  '127.027735968319',
  '126.921003536076',
  '127.024653352058',
  '127.029588346617',
  '127.10231832661',
  '127.061612278924',
  '127.047308453843',
  '126.982257656397',
  '126.929667089033',
  '126.938720711858',
  '127.050379366946',
  '126.983058006128',
  '127.113053920829',
  '127.010600997043',
  '127.003722340943',
  '126.947399205636',
  '126.931504190261',
  '126.914614565555',
  '126.920016795899',
  '127.071032326249',
  '127.015346529708',
  '126.936748253264',
  '127.052026639291',
  '126.901864172583',
  '126.922019457485',
  '126.981314804779',
  '127.094927439825',
  '127.02957536539',
  '127.031059384483',
  '126.936468245312',
  '126.889341666118',
  '126.907927949286',
  '126.838871233507',
  '126.929938151166',
  '127.017905827343',
  '126.952863867223',
  '127.14228123329',
  '126.892926734418',
  '126.962356575184',
  '127.051008258871',
  '126.944007081257',
  '126.985798983513',
  '126.838173965203',
  '126.905823730292',
  '127.005521444988',
  '126.972141061212',
  '127.025191277715',
  '126.952183895644',
  '127.124913859704',
  '126.905609464703',
  '126.914968754235',
  '126.92264025145',
  '127.010627373748',
  '127.078601108937',
  '126.869346252755',
  '127.054379079618',
  '126.941856308051',
  '126.982210676624',
  '126.899311690856',
  '126.864447323512',
  '127.040933252194',
  '127.052667875788',
  '127.124418792359',
  '126.94179717933',
  '127.017635977143',
  '127.046426788806',
  '126.959367056377',
  '127.044746028256',
  '127.062249590194',
  '127.121924950047',
  '127.084975756199',
  '127.016000015149',
  '127.126800749075',
  '126.926669678259',
  '126.931178110497',
  '126.952985471074',
  '126.928375974876',
  '126.909779737699',
  '126.967957584084',
  '126.86760216879',
  '126.963314009135',
  '126.991678131751',
  '126.916517333562',
  '127.061567688813',
  '126.961191030595',
  '126.913654830593',
  '126.916569405965',
  '126.94651957623',
  '127.006834366246',
  '126.981016558625',
  '126.945281828567',
  '127.029546429775',
  '126.859596171681',
  '127.12464393305',
  '126.991855498965',
  '127.139268457231',
  '126.944298800043',
  '126.855709869345',
  '127.06591785206',
  '127.06428375943',
  '126.929661150132',
  '126.955972779768',
  '126.818597219555',
  '127.084368022992',
  '127.078935662022',
  '126.909527051265',
  '127.024555597427',
  '126.95342455659',
  '126.888807280468',
  '127.029573448091',
  '127.126114097948',
  '127.007358177138',
  '127.108872498897',
  '127.013690467291',
  '126.908200841307',
  '126.847038131778',
  '127.064112921858',
  '127.052630971504',
  '127.047621034272',
  '126.964458224138',
  '126.890966268804',
  '127.038394194396',
  '127.116374296966',
  '126.863277147162',
  '126.835997635372',
  '126.896265163559',
  '127.084171835057',
  '127.037328038827',
  '126.916347297487',
  '127.023926882992',
  '127.112150275898',
  '127.013976397133',
  '126.947928240297',
  '127.026403294244',
  '127.071271836617',
  '126.903715993779',
  '127.104713854582',
  '126.922900461734',
  '126.853402511465',
  '126.977435863454',
  '127.095110195174',
  '127.132663780085',
  '127.035565905427',
  '127.151900881719',
  '127.025985015899',
  '126.896465840526',
  '127.096685551288',
  '127.00649814694',
  '127.015391818681',
  '127.062394555546',
  '126.998214914885',
  '127.046095779851',
  '127.071843347482',
  '127.057305617362',
  '127.030156228348',
  '126.924954157932',
  '127.05414418323',
  '126.866878282855',
  '127.083635681247',
  '127.085325030592',
  '127.128192963725',
  '127.075008982696',
  '126.930345874402',
  '127.08033451349',
  '126.874091977651',
  '127.022009385841',
  '127.041681274569',
  '126.838837793701',
  '126.976133728575',
  '127.035371175956',
  '127.037389882528',
  '126.969526329341',
  '127.073239970178',
  '126.842278276751',
  '127.045847069683',
  '127.088656733057',
  '126.849042833815',
  '127.098141751177',
  '126.842960894429',
  '126.902834034778',
  '127.143742247483',
  '126.916496155038',
  '126.874971203942',
  '127.05705028385',
  '126.917795500237',
  '126.810958242039',
  '127.103975954786',
  '127.010521229942',
  '126.900371979146',
  '126.97377757447',
  '126.996766923362',
  '127.017759024953',
  '127.011935946175',
  '127.135361421877',
  '126.8869873429',
  '127.168412440283',
  '127.033889150018',
  '127.019288526529',
  '126.930234545397',
  '127.068344314779',
  '126.826392872773',
  '127.060000681107',
  '127.082158656213',
  '127.089928064798',
  '126.926655416492',
  '127.072996184863',
  '126.83855303361',
  '127.074910816116',
  '127.100331994394',
  '126.859102583368',
  '126.840573315951',
  '127.016600156219',
  '127.05558387872',
  '126.964741503485',
  '126.847162335199',
  '127.009889042894',
  '126.908520316904',
  '127.004349202631',
  '127.079883734988',
  '126.822891045092',
  '126.828493882542',
  '127.076361085876',
  '126.861618186165',
  '126.879183438673',
  '127.144364763347',
  '127.049667391336',
  '127.172620191715',
  '127.034372618396',
  '127.0423790577',
  '126.944654295681',
  '127.15507536373',
  '127.098141751177',
  '127.144665419318',
  '127.103108072457',
  '127.087781697905',
  '127.025583027818',
  '127.016617016457',
  '126.997196437908',
  '126.891708645586',
  '127.142653660287',
  '126.96722438064',
  '126.933921480404',
  '127.041345988775',
  '127.061997930473',
  '127.094271408288',
  '127.012463182729',
  '127.077680213483',
  '127.174603355856',
  '127.06080691987',
  '126.887676153817',
  '127.103006473255',
  '126.833725627369',
  '126.813305186149',
  '127.079309771599',
  '127.085023757353',
  '126.903480690764',
  '126.864731084897',
  '126.910418921853',
  '127.10653127274',
  '126.936563883149',
  '126.895261817307',
  '126.854819012937',
  '127.151708546616',
  '127.062677840248',
  '126.896885338466',
  '127.021463886656',
  '126.897273034482',
  '127.117842816756',
  '127.101327440795',
  '126.898724662348',
  '126.87035534357',
  '126.917900261732',
  '127.03876781084',
  '126.970484281315',
  '126.849960213917',
  '126.890227293528',
  '126.964741503485',
  '126.897885833718',
  '127.028307900881',
  '127.093737926072',
  '127.09360845762',
  '126.861817646457',
  '127.119106729654',
  '127.08038084565',
  '127.05114707633',
  '127.034544193436',
  '126.895880210522',
  '127.053494215652',
  '127.061979778612',
  '127.068668049616',
  '127.123742434482',
  '126.900794781433',
  '126.882773011925',
  '127.006834366246',
  '127.040463515854',
  '126.922900461734',
  '127.070940893709',
  '127.155613136912',
  '126.883812092851',
  '126.954304704528'])

In [50]:
df[180:190]

,매장명,영업시간,주소,리뷰 갯수,별점,전화번호
180,배스킨라빈스 롯데월드어드벤처점,매일 10:00 ~ 22:00,서울 송파구 올림픽로 240,리뷰 6,4.0,02-2143-1362
181,배스킨라빈스 구로오류점,매일 10:00 ~ 23:00,서울 구로구 경인로 197,리뷰 2,3.8,02-2625-0031
182,배스킨라빈스 당산래미안점,매일 10:00 ~ 23:00,서울 영등포구 당산로 214 상가1동 1층,리뷰 5,2.7,02-2633-2662
183,배스킨라빈스 거여역점,매일 10:00 ~ 23:00,서울 송파구 오금로 496,리뷰 3,2.6,02-407-6133
184,배스킨라빈스 영등포신길점,매일 10:00 ~ 23:00,서울 영등포구 도신로 228,리뷰 1,3.0,02-834-3001
185,배스킨라빈스 염창점,매일 10:00 ~ 23:00,서울 강서구 양천로 711,리뷰 2,2.1,02-2668-3103
186,배스킨라빈스 마들역점,매일 10:00 ~ 23:00,서울 노원구 동일로 1541,리뷰 5,2.7,02-930-7131
187,배스킨라빈스 난곡점,월~토 10:00 ~ 23:00,서울 관악구 난곡로 213,리뷰 1,2.5,02-859-3133
188,배스킨라빈스 송정역점,매일 10:00 ~ 23:00,서울 강서구 공항대로 34 청보빌딩 1층,리뷰 5,3.0,02-2661-3391
189,배스킨라빈스 잠실나루역점,매일 10:00 ~ 23:00,서울 송파구 올림픽로35길 94 장미 C상가 106호,리뷰 4,1.0,02-420-1467

In [51]:
# 리스트를 이용해 merge할 좌표 데이터프레임 생성 
merge_df = pd.DataFrame(data = list(zip(lat, lng)), columns = ['위도','경도'])

In [52]:
merge_df

                   위도                경도
0    37.5231196123278  127.037598626747
1    37.5696321635786  126.985908263935
2    37.5184054651671  127.022378126653
3    37.4998575972382  127.027735968319
4    37.5505102197235  126.921003536076
..                ...               ...
298  37.6436459287603  126.922900461734
299  37.6467905319279  127.070940893709
300  37.5547067235109  127.155613136912
301  37.5064160124939  126.883812092851
302  37.5524303507163  126.954304704528

[303 rows x 2 columns]

In [53]:
# 원래 데이터프레임 df와 좌표열이 있는 merge_df를 병합하기
result_df = pd.concat([df, merge_df],axis=1)

In [54]:
result_df

,매장명,영업시간,주소,리뷰 갯수,별점,전화번호,위도,경도
0,배스킨라빈스 BROWN청담점,매일 08:00 ~ 23:00,서울 강남구 도산대로 327 SGF청담타워 3층,리뷰 256,4.2,02-547-1205,37.5231196123278,127.037598626747
1,배스킨라빈스 종로2가점,매일 10:00 ~ 23:00,서울 종로구 종로12길 9,리뷰 15,3.3,02-733-3130,37.5696321635786,126.985908263935
2,배스킨라빈스 세로수길점,매일 10:00 ~ 23:00,서울 강남구 도산대로11길 15 1층,리뷰 31,5.0,02-542-8613,37.5184054651671,127.022378126653
3,배스킨라빈스 강남중앙점,매일 10:00 ~ 23:00,서울 강남구 강남대로96길 9 1층,리뷰 37,2.0,02-563-8588,37.4998575972382,127.027735968319
4,배스킨라빈스 홍대상상마당점,매일 10:00 ~ 24:00,서울 마포구 어울마당로 61,리뷰 14,3.4,02-324-1222,37.5505102197235,126.921003536076
...,...,...,...,...,...,...,...,...
298,배스킨라빈스 은평뉴타운,매일 10:00 ~ 23:00,서울 은평구 진관4로 17,리뷰 0,5.0,02-3157-0031,37.6436459287603,126.922900461734
299,배스킨라빈스 중계롯데마트점,NaN,서울 노원구 노원로 330 롯데마트 중계점 지하1층,리뷰 0,0.0,02-932-3132,37.6467905319279,127.070940893709
300,배스킨라빈스 명일이마트점,매일 10:00 ~ 23:00,서울 강동구 고덕로 276 이마트 4층,리뷰 0,1.0,02-427-0310,37.5547067235109,127.155613136912
301,배스킨라빈스 신도림점,금 10:00 ~ 24:00,서울 구로구 경인로 611-7 큐브스테이트 1층,리뷰 0,0.0,070-7005-3131,37.5064160124939,126.883812092851
302,베스킨라빈스 아현뉴타운점,NaN,서울 마포구 마포대로 195,리뷰 0,0.0,02-313-7877,37.5524303507163,126.954304704528

In [55]:
## 데이터 저장 /files/seoul_beskinrobins_list2.xlsx
result_df.to_excel(outpath, index=False)

In [56]:
address = '서울 영등포구 당산로 214 상가1동 1층'

# 좌표값 저장할 리스트 생성
lat = []
lng = []


url = "https://dapi.kakao.com/v2/local/search/address.json?&query=" + address

api_test = requests.get(url,headers=headers)
url_text = json.loads(api_test.text)

lat.append (url_text.get('documents')[0].get('x'))
lng.append (url_text.get('documents')[0].get('y'))

lat, lng

(['126.902834034778'], ['37.5329312320335'])