In [18]:
filepath = '/Users/jwoh/Desktop/pythonScrolling/DataSciencePython/02_개정판/8_BaskinRobbins_Location/files'
sgg_geojson_file_path = '/Users/jwoh/Desktop/pythonScrolling/DataSciencePython/02_개정판/8_BaskinRobbins_Location/maps/seoul_sgg.geojson'

## 6.2.2 스타벅스 분석 데이터 만들기

In [19]:
# 예제 6-42 라이브러리 임포트
import pandas as pd
import os

In [20]:
# 예제 6-43 시군구 목록 데이터 불러오기
sggpath = os.path.join(filepath,'seoul_sgg_list.xlsx' )
seoul_sgg = pd.read_excel(sggpath)
seoul_sgg.head(5)

   시군구코드  시군구명         위도          경도
0  11320   도봉구  37.665861  127.031767
1  11380   은평구  37.617612  126.922700
2  11230  동대문구  37.583801  127.050700
3  11590   동작구  37.496504  126.944307
4  11545   금천구  37.460097  126.900155

In [21]:
# 예제 6-44 서울시 스타벅스 매장 목록 데이터 불러오기
starbuckspath = os.path.join(filepath,'seoul_baskin_list2.xlsx')
seoul_starbucks = pd.read_excel(starbuckspath)
seoul_starbucks.head(5)

,매장명,영업시간,주소,리뷰 갯수,별점,전화번호,위도,경도,시군구명
0,배스킨라빈스 BROWN청담점,매일 08:00 ~ 23:00,서울 강남구 도산대로 327 SGF청담타워 3층,리뷰 256,4.2,02-547-1205,37.523120,127.037599,강남구
1,배스킨라빈스 종로2가점,매일 10:00 ~ 23:00,서울 종로구 종로12길 9,리뷰 15,3.3,02-733-3130,37.569632,126.985908,종로구
2,배스킨라빈스 세로수길점,매일 10:00 ~ 23:00,서울 강남구 도산대로11길 15 1층,리뷰 31,5.0,02-542-8613,37.518405,127.022378,강남구
3,배스킨라빈스 강남중앙점,매일 10:00 ~ 23:00,서울 강남구 강남대로96길 9 1층,리뷰 37,2.0,02-563-8588,37.499858,127.027736,강남구
4,배스킨라빈스 홍대상상마당점,매일 10:00 ~ 24:00,서울 마포구 어울마당로 61,리뷰 14,3.4,02-324-1222,37.550510,126.921004,마포구

In [22]:
# 예제 6-45 시군구별 스타벅스 매장 수 세기
starbucks_sgg_count = seoul_starbucks.pivot_table(
                                                index = '시군구명', 
                                                values='매장명', 
                                                aggfunc='count'
                                                ).rename(columns={'매장명':'배스킨_매장수'})
starbucks_sgg_count.head()

      배스킨_매장수
시군구명
강남구        19
강동구        15
강북구         7
강서구        16
관악구        12

In [23]:
# 예제 6-46 서울시 시군구 목록 데이터에 스타벅스 매장 수 데이터를 병합
seoul_sgg = pd.merge(seoul_sgg, starbucks_sgg_count, how='left', on='시군구명')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도  배스킨_매장수
0  11320   도봉구  37.665861  127.031767        7
1  11380   은평구  37.617612  126.922700       13
2  11230  동대문구  37.583801  127.050700        8
3  11590   동작구  37.496504  126.944307       10
4  11545   금천구  37.460097  126.900155        8

In [24]:
# 예제 6-47 서울시 시군구별 인구통계 데이터 불러오기
sgg_poppath = os.path.join(filepath, 'sgg_pop.xlsx')
seoul_sgg_pop = pd.read_excel(sgg_poppath)
seoul_sgg_pop.head()

  시군구명   주민등록인구
0  종로구  159,842
1   중구  135,321
2  용산구  244,953
3  성동구  302,695
4  광진구  361,923

In [25]:
# 예제 6-48 서울시 시군구 목록 데이터에 서울시 시군구별 인구통계 데이터를 병합
seoul_sgg = pd.merge(seoul_sgg, seoul_sgg_pop, how='left', on='시군구명')
seoul_sgg.head()

   시군구코드  시군구명         위도          경도  배스킨_매장수   주민등록인구
0  11320   도봉구  37.665861  127.031767        7  329,300
1  11380   은평구  37.617612  126.922700       13  485,842
2  11230  동대문구  37.583801  127.050700        8  358,679
3  11590   동작구  37.496504  126.944307       10  404,617
4  11545   금천구  37.460097  126.900155        8  249,641

In [26]:
# 예제 6-49 서울시 시군구 목록 데이터에 서울시 시군구별 사업체 수 통계 데이터를 병합
sgg_bizpath = os.path.join(filepath, 'sgg_biz.xlsx')
seoul_sgg_biz = pd.read_excel(sgg_bizpath)
seoul_sgg = pd.merge(
    seoul_sgg, 
    seoul_sgg_biz,
    how='left',
    on='시군구명'
)
seoul_sgg.head()

   시군구코드  시군구명         위도          경도  배스킨_매장수   주민등록인구     종사자수    사업체수
0  11320   도봉구  37.665861  127.031767        7  329,300   74,314  18,894
1  11380   은평구  37.617612  126.922700       13  485,842   90,049  24,873
2  11230  동대문구  37.583801  127.050700        8  358,679  140,748  31,878
3  11590   동작구  37.496504  126.944307       10  404,617  112,564  19,916
4  11545   금천구  37.460097  126.900155        8  249,641  234,012  32,472

In [27]:
# 예제 6-50 병합 결과를 엑셀 파일로 저장
sgg_stat_outpath = os.path.join(filepath, 'seoul_sgg_stat.xlsx')
seoul_sgg.to_excel(sgg_stat_outpath, index=False)